body {
	margin: 0px;
	overflow: hidden;
}

#canvas {
	width: 60%;
	height: 100%;
}

#search_bar {
	width: 20%;
	float: left;
}
.search_box {
	width: 100%;
	height: 20px;
}
#search_output {
	width: 100%;
	height: 50%;
}
#jstree_regulators ul {
	overflow-y: scroll;
}

#expression_sidebar {
	width: 20%;
	float: right;
}
#expression_canvas {
	width: 100%;
	height: 100%;
}